<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.jyukon.tgu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name=".TguApplication">

        <activity
            android:name=".ItemsActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tgu" android:host="item" />
            </intent-filter>
        </activity>

    </application>

</manifest>
